$backgroundColor: #000000;
$colorText: #ffffff;
$colorTextLinkRed: #b30e0e;

// media screen color text

$colorLinkMedia: #d32000;

// menu link hover

$colorLinkHover: #ff0000;

// footer bg 

$footerBg: #0f0b0b;
$footerColor: #e4e4e4;